
@font-face {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    src: url('../assets/fonts/century-gothic/Century Gothic.ttf');
    font-weight: normal;
    font-style: normal
}

