@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");

/*CSS RESET*/
/*Source: http://meyerweb.com/eric/tools/css/reset/index.html*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Main CSS*/
/*General*/
body {
	color: white;
	background: #014359; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#337991,#014359 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#337991,#014359 ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#337991,#014359 ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#337991,#014359 ); /* Standard syntax (must be last) */
  font-family: Bliss Regular, Fallback, sans-serif; 
  font-weight: normal;
  font-style: normal;
  overflow: hidden;
  height: 100% !important;
}
a {
  text-decoration: none;
  color: white;
}

/*End of General*/
/*Header*/

#hdr-container {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    color: white !important;
    padding-bottom: 60px;
    display: flex;
    max-width: 44%;
    margin: 0 auto;

}
.logo, .back-container, .hdr-date {
    width: 33.3333%;
    flex: 1;
}
.logo {
  text-align: center;
  padding-top: 20px;
}
#sp-logo {
  width: 200px;
}
.hdr-date {
  padding-top: 45px;
}


.hdr-date {
	font-size: 2em !important;
	text-align: center;
}
.back-container {
  text-align: center;

}
#icon-backwards{
  width: 70px;
  padding-top: 30px;

}
/*End of Header*/
/*Body*/
.map-icon img {
  height: 150px;
  position: absolute;
  left: 30px;
  top: 10px;
}
.map-text {
  position: absolute;
  top:150px;
  font-size: 2em;
  right: 0;
  left: 0;
}

.search-icon img {
	height: 100px;
	position: absolute;
	left:53px;
	top: 33px;
}
.search-text {
	position: absolute;
	top:150px;
	font-size: 2em;
	right: 0;
	left: 0;
}

.events-icon img {
  height: 110px;
  position: absolute;
  left: 45px;
  top: 25px;
}
.events-text {
  position: absolute;
  top:150px;
  font-size: 2em;
  right: 0;
  left: 0;
}
.meeting-icon img {
  height: 80px;
  position: absolute;
  left: 40px;
  top: 40px;
}
.meeting-text {
  position: absolute;
  top: 150px;
  font-size: 2em;
  right: 0;
  left: 0;
}
.bus-icon img {
  height: 100px;
  position: absolute;
  left: 50px;
  top: 35px;
}
.bus-text {
  position: absolute;
  top:150px;
  font-size: 2em;
  right: 0;
  left: 0;
}
.info-icon img {
  height: 100px;
  position: absolute;
  left: 50px;
  top: 33px;
}
.info-text {
  position: absolute;
  top:150px;
  font-size: 2em;
  right: 0;
  left: 0;
}
.row-one,.row-two, .row-three {
    text-align: center;
    margin: 0 auto;
}

.box-one, .box-two, .box-three {
    width: 200px;
    height: 200px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    background: #014359;
    border-radius: 5px;
}
.box-one, .box-two {
	margin-right: 30px;
}
.row {
	padding-bottom: 30px;
}
.grow {
	position: relative;
  	-webkit-transition:all 0.5s ease-out;
  	-moz-transition:all 0.5s ease-out;
  	-ms-transition:all 0.5s ease-out;
  	-o-transition:all 0.5s ease-out;
  	transition:all 0.5s ease-out;  
 	/*box-shadow: 0 18px 19px rgba(0,0,0,0.2);*/
}
.grow:after {
	content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  -webkit-transition:opacity 0.3s ease-out;
  -moz-transition:opacity 0.3s ease-out;
  -ms-transition:opacity 0.3s ease-out;
  -o-transition:opacity 0.3s ease-out;
  transition: opacity 0.3s ease-in-out;
}

.grow:hover {
  	-webkit-transform:scale(1.1);
  	-moz-transform:scale(1.1);
  	-ms-transform:scale(1.1);
  	-o-transform:scale(1.1);
  	transform:scale(1.1);
  	z-index: 1;
}
.grow:hover:after {
	opacity: 1;
	z-index:1;
}
.center { 
  margin: 0 auto; 
  width: 1200px; 
  display: block;
}

#media-video{
  background:#000;
  color:#ccc;
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,0.8);
  box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
  margin: 0 auto;
  display: block;
}

/*End of Body*/

/*CSS for BUS PAGE*/

.nextbus-S-container, .nextbus-R-container, .taxi-container{
  text-align: center;
  padding-bottom: 15px;
  
}


.nextbus-S-container .nextbus-S-box table, .nextbus-R-container .nextbus-R-box table, .taxi-container .taxi-box table {
  position: absolute;
}
.nextbus-S-box, .nextbus-R-box, .taxi-box{
  width: 650px;
  height: 150px;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;
  background: #014359;
  border-radius: 5px;
}
.nextbus-S-box table, .nextbus-R-box table,.taxi-box table {
  width: 650px;
  margin: 0 auto;
  text-align: center;
}
.nextbus-S-text p , .nextbus-R-text p{
  font-size: 30px;
  padding-top: 20px !important;
}
.taxi-text p {
  font-size: 30px;
  padding-top: 30px !important;
}
.nextbus-S-box table th, .nextbus-R-box table th {
  font-size: 20px;
  padding-top:15px !important;
}
.nextbus-S-box .bus-dep p, .nextbus-R-box .bus-dep p {
  padding-top:10px !important;
  font-size: 30px;
}
.taxi-comp td p {
  padding-top: 15px;
  font-size: 20px;
}
.taxi-phone {
  font-size: 20px;
}

.arrow-circle img {
  width: 50px;
    height: 28px;
    float: right;
    position: absolute;
    right: 20px;
    bottom: 15px;
    background-color: #1A5E75;
    padding: 20px 10px;
    border-radius: 50px;
}

.map-container img {
  width: 500px;
  padding-bottom: 15px;
}
.map-hdr h1, .event_hdr h1, .bus-hdr h1{
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 30px;
}

.map-container {
  text-align: center;
}
/*CSS for Event page*/
.show-events {
  overflow: hidden;
  margin: 0 auto;
  max-width: 741px;
}

.show-events iframe {
  margin-top: -350px;
  margin-left: -1px;
  width: 741px;
  height: 1200px;
}
/*CSS for INFO PAGE*/

.inner_row img, .inner_row img {
  max-width: 100px;
}
.inner_row h3, .inner_row h3 {
  padding-top: 10px;
  font-size: 25px;
}
.inner_row p {
      font-size: 19px;
    padding: 20px;
    line-height: 1.2;
}
.inner_row {
  height: 80%;
  margin-top: 6%;
}
.info-hdr h1{
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 30px;
}

@media only screen and (max-width:836px) {
  .box-one, .box-two, .box-three {
    width: 149px;
    height: 149px;
  }
  #hdr-container {
    max-width: 67%;
  }
  .menu-text {
    top: 116px;
    font-size: 1.6em;
  }
  .events-icon img {
    left: 25px;
    top: 7px;
  }
  .search-icon img {
    left: 28px;
    top: 15px;
  }
  .meeting-icon img {
    left: 20px;
    top: 24px;
  }
  .bus-icon img {
    left: 30px;
    top: 14px;
  }
  .info-icon img {
    left: 30px;
    top: 15px;
  }
  .map-icon img {
    left: 7px;
    top: -13px;
  }
  .box-one, .box-two {
    margin-right: 10px;
  }
  .row {
    padding-bottom: 14px;
  }
}